.title {
    text-align: center;
    font-size: 4em;
    padding-top: 30px;
    font-weight: bold;
    color: #2a75bb;
    text-decoration: underline;
    -webkit-text-stroke: 2px black;
}

body {
    background-color: #ffcb05;
}


#searchBarWrapper {
    padding-top: 50px;
}


#navWrapper {
    padding-right: 20px;
    padding-top: 50px;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-top: 80px;
    padding-left: 65px;
}

nav {
    display: flex;
    justify-content: center;
}

ul#allNavLinks {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 80%;
    font-weight: bold;
    text-decoration: underline;
}

.nav-link {
    padding:10px;
}

.nav-link:last-child {
    border-right: none;
}

#searchBarWrapper {
    display: flex;
    justify-content: center;
}

#searchBarForm {
    display: flex;
    align-items: center;
}

#search-input {
    margin-right: 10px;
    width: 450px;
    height: 40px;
}

#searchSubmit {
    background-color: #2a75bb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#card-container {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-link:hover {
    cursor: pointer;
}